
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    height: 100%;
}

body {
    color: var(--csDkPrimaryText);
    color: var(--csDkSecondaryText);
    font-family: var(--fontPrimary);
    font-weight: 400;
    line-height: 1.5;
    font-size: var(--fontBaseSize);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: var(--transition);
}

ul,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin: 0;
    padding: 0;
}

input,
textarea {
    cursor: text;
    border: none;
    transition: var(--transition);

    &:focus {
        outline: none;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input:focus, select:focus, textarea:focus {
        font-size: 16px;
    }
}

input[type="checkbox"] {
    margin: 0 5px 0 0;
}

button {
    border: none;
    background: none;
}
/* TODO: Primer pisanja todo-a. */
