.u-screenReaders {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.u-clearfix {
    @mixin clearfix;
}

.u-flex {
    display: flex;
}

.u-column {
    flex-direction: column;
}

.u-spaceBetween {
    justify-content: space-between;
}

.u-flexEnd {
    align-items: flex-end;
}

.u-flexCenter {
    align-items: center;
}

.u-primaryColor {
    color: var(--csDkPrimaryText);

    &:visited,
    &:active {
        color: var(--csDkPrimaryText);
    }
}

.u-brandColor {
    color: var(--csPrimary);
}

.u-fontLight {
    font-weight: 300;
}

.u-hintText {
    color: var(--csDkHintText);
    font-size: 0.7em;
}

.u-noMarginTop {
    margin-top: 0;
}

.u-displayNone {
    display: none;
}

.u-hideUntilTablet {
    display: none;

    @media (--tablet) {
        display: initial;
    }
}

.u-lineThrough {
    text-decoration: line-through;
}