:root {

    /*
        Style Guide Colors (color swatches)
    */
    --csPrimary: #8FC73E;
    --csPrimaryHover: #89BC53;
    --csPrimaryActive: #A6CA71;
    --csSecondary: #f7f7f7;
    --csError: #f55145;


    /* Dividers colors */
    --csDkDividers: color(black a(12%));
    --csLtDividers: color(white a(12%));

    /* Text colors */
    --csDkPrimaryText: color(black a(87%));
    --csDkSecondaryText: color(black a(54%));
    --csDkHintText: color(black a(38%));

    --csLtPrimaryText: color(white a(100%));
    --csLtSecondaryText: color(white a(70%));
    --csLtHintText: color(white a(50%));

    /*
        Z-indexes
    */
    --zSlider: 1;

    /*
        Grid Settings
    */
    --gridColumnsTotal: 12;
    --gridColumnsGap: 15px;
    --containerWidth: 1220px;

    /*
        Typography
    */
    --fontBaseSize: 16px;
    --fontPrimary: 'Open Sans', sans-serif;

    /*
        UI Styles
    */
    --radius: 3px;
    --transition: all .3s ease;
}


/*
    Media Queries
    If you are updating media query widths, make sure to update [srcset] `sizes` values as well.
*/
@custom-media --small (width >= 480px);
@custom-media --medium (width >= 600px);
@custom-media --tablet (width >= 768px);
@custom-media --large (width >= 900px);
@custom-media --xlarge (width >= 1200px);
@custom-media --xxlarge (width >= 1440px);
